.navbar-nav .nav-item {
    margin-right: 100px; }
    .navbar-nav .nav-item a:hover{
        text-decoration: underline;
    }
    .brandfont{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    .section1{
        padding-top: 100px;
        padding-left: 100px;
    }
    .section1p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    .imgsec1{
        border-radius: 50px;
    }
    .image-container {
        width: 300px;
        height: 300px;
      }
      
      .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the image covers the div without losing aspect ratio */
      }
      .btn-outline-custom {
        border: 2px solid #007bff; /* Outline color */
        background-color: transparent;
        color: #007bff; /* Text color */
        transition: background-color 0.3s, color 0.3s; /* Smooth transition */
      }
    
      /* Change fill color on hover */
      .btn-outline-custom:hover {
        background-color: #007bff; /* Fill color */
        color: white; /* Text color when filled */
      }
    
      /* Change fill color on click */
      .btn-outline-custom:active {
        background-color: #0056b3; /* Darker fill color on click */
        color: white;
      }
